[package]
name = "editor"
version = "0.1.0"
edition = "2024"

[dependencies]
crossterm = "0.29.0"
documents = "0.1.2"
react = { version = "0.1.0", path = "../react" }
stdext = { version = "0.1.0", path = "../stdext" }
